ejbs/src/main/resources/schemas/bam_ws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="Bam" targetNamespace="http://spgu.lanit.ru/bam/v1" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://spgu.lanit.ru/bam/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://spgu.lanit.ru/bam/v1" xmlns:tns="http://spgu.lanit.ru/bam/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="Representative">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="address" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="login" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="middleName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="organizationName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="phone" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="portalId" nillable="true" type="xsd:long" />
            <xsd:element minOccurs="0" name="warrantInfo" nillable="true" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="EventType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="TASK_NOT_EXECUTED" />
            <xsd:enumeration value="TASK_EXECUTION" />
            <xsd:enumeration value="TASK_COMPLETE" />
            <xsd:enumeration value="TASK_ERROR" />
            <xsd:enumeration value="TASK_TIMED_OUT" />
            <xsd:enumeration value="PROCESS_ERROR" />
            <xsd:enumeration value="PROCESS_TERMINATED" />
            <xsd:enumeration value="PROCESS_COMPLETE" />
            <xsd:enumeration value="USER_INPUT_REQUIRED" />
            <xsd:enumeration value="REMOVE_USER_NOTIFICATION" />
            <xsd:enumeration value="REMOVE_ALL_NOTIFICATIONS" />
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ArrayOfAttributeValue">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="AttributeValue" nillable="true" type="tns:AttributeValue" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StartProcessRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="authCode" nillable="true" type="xsd:string" />
            <xsd:element name="creationDate" type="xsd:dateTime" />
            <xsd:element name="eventTimestamp" type="xsd:dateTime" />
            <xsd:element name="instanceId" type="xsd:long" />
            <xsd:element minOccurs="0" name="officeId" nillable="true" type="xsd:long" />
            <xsd:element name="processDefId" type="xsd:long" />
            <xsd:element minOccurs="0" name="recipient" nillable="true" type="tns:Recipient" />
            <xsd:element minOccurs="0" name="record" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="relatedEventId" nillable="true" type="xsd:long" />
            <xsd:element minOccurs="0" name="relatedProcessInstanceId" nillable="true" type="xsd:long" />
            <xsd:element name="representative" type="tns:Representative" />
            <xsd:element minOccurs="0" name="startEventId" nillable="true" type="xsd:long" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Recipient">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="address" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="email" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="firstName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="lastName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="login" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="middleName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="organizationName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="phone" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="portalId" nillable="true" type="xsd:long" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RegisterEventRequest">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="activityId" nillable="true" type="xsd:long" />
            <xsd:element minOccurs="0" name="attributeValues" nillable="true" type="tns:ArrayOfAttributeValue" />
            <xsd:element minOccurs="0" name="comment" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="documents" nillable="true" type="tns:ArrayOfDocument" />
            <xsd:element minOccurs="0" name="estimatedCompleteDate" nillable="true" type="xsd:dateTime" />
            <xsd:element minOccurs="0" name="eventNumber" nillable="true" type="xsd:long" />
            <xsd:element name="eventType" type="tns:EventType" />
            <xsd:element minOccurs="0" name="executorFullName" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="executorFunctionary" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="previousActivityId" nillable="true" type="xsd:long" />
            <xsd:element minOccurs="0" name="processInstanceId" nillable="true" type="xsd:long" />
            <xsd:element name="timestamp" type="xsd:dateTime" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Document">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="comment" nillable="true" type="xsd:string" />
            <xsd:element name="data" type="xsd:base64Binary" />
            <xsd:element minOccurs="0" name="documentDefId" nillable="true" type="xsd:long" />
            <xsd:element minOccurs="0" name="documentId" nillable="true" type="xsd:long" />
            <xsd:element minOccurs="0" name="explicitFormModel" nillable="true" type="xsd:base64Binary" />
            <xsd:element name="fileName" type="xsd:string" />
            <xsd:element minOccurs="0" name="form" type="xsd:boolean" />
            <xsd:element minOccurs="0" name="sn" nillable="true" type="xsd:string" />
            <xsd:element name="title" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AttributeValue">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="floatValue" nillable="true" type="xsd:double" />
            <xsd:element name="id" type="xsd:long" />
            <xsd:element minOccurs="0" name="longValue" nillable="true" type="xsd:long" />
            <xsd:element minOccurs="0" name="textValue" nillable="true" type="xsd:string" />
            <xsd:element minOccurs="0" name="timestampValue" type="xsd:dateTime" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfDocument">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="Document" nillable="true" type="tns:Document" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="startProcess" type="tns:startProcess" />
    <xsd:complexType name="startProcess">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="arg0" type="tns:StartProcessRequest" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="registerEvent" type="tns:registerEvent" />
    <xsd:complexType name="registerEvent">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="arg0" type="tns:RegisterEventRequest" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="startProcess">
    <wsdl:part element="tns:startProcess" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registerEvent">
    <wsdl:part element="tns:registerEvent" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Bam">
    <wsdl:operation name="startProcess">
      <wsdl:input message="tns:startProcess" name="startProcess">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="registerEvent">
      <wsdl:input message="tns:registerEvent" name="registerEvent">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BamSoapBinding" type="tns:Bam">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="startProcess">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="startProcess">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="registerEvent">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="registerEvent">
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bam">
    <wsdl:port binding="tns:BamSoapBinding" name="BamImplPort">
      <soap:address location="http://195.26.167.94:5494/bam/ws/bam_ws" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>