ejbs/src/main/resources/schemas/rosreestr_request_data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="p_provider_value" >
          <xs:annotation>
            <xs:documentation>Идентификатор организации - получателя</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedInt">
              <xs:enumeration value="101393">
              </xs:enumeration>
              <xs:enumeration value="101394">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="p_provider_text">
          <xs:annotation>
            <xs:documentation>Название организации - получателя</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Управление РосРеестра по Ростовской области">
              </xs:enumeration>
              <xs:enumeration value="Управление РосРеестра по Челябинской области">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element> 
        <xs:element name="hd_frame_id" >
          <xs:annotation>
            <xs:documentation>Услуга</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="RequestRROffline_GKNInfo">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element> 
        <xs:element name="Appl_GKNInfo_rp_name">
          <xs:annotation>
            <xs:documentation>Название организации - получателя в форме</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="РосРеестр по Ростовской области (Управление РосРеестра по Ростовской области)">
              </xs:enumeration>
              <xs:enumeration value="РосРеестр по Челябинской области (Управление РосРеестра по Челябинской области)">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox1">
          <xs:annotation>
            <xs:documentation>Запрос сведений об объекте недвижимости</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox2">
          <xs:annotation>
            <xs:documentation>об объектах недвижимости на территории</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox3">
          <xs:annotation>
            <xs:documentation>земельный участок (земельные участки)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox5" >
          <xs:annotation>
            <xs:documentation>здание (здания)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox7" >
          <xs:annotation>
            <xs:documentation>помещение (помещения)</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox6" >
          <xs:annotation>
            <xs:documentation>объект незавершенного строительства</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox2" type="xs:string" >
          <xs:annotation>
            <xs:documentation>Кадастровый номер:</xs:documentation>
          </xs:annotation>
        </xs:element> 
        <xs:element name="Appl_GKNInfo_TextBox1" type="xs:string" >
          <xs:annotation>
            <xs:documentation>Адрес объекта недвижимости</xs:documentation>
          </xs:annotation>
        </xs:element> 
        <xs:element name="Appl_GKNInfo_CheckBox8"  >
          <xs:annotation>
            <xs:documentation>В виде кадастровой выписки об объекте недвижимости</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox9"  >
          <xs:annotation>
            <xs:documentation>В виде кадастрового паспорта объекта недвижимости</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox10"  >
          <xs:annotation>
            <xs:documentation>В виде кадастрового плана территории</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox11"  >
          <xs:annotation>
            <xs:documentation>В виде кадастровой справки</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox12"  >
          <xs:annotation>
            <xs:documentation>Форма предоставления сведений на бумажном носителе</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox13"  >
          <xs:annotation>
            <xs:documentation>Форма предоставления сведений электронном виде</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox16"  >
          <xs:annotation>
            <xs:documentation>Способ получения сведений государственного кадастра недвижимости Заявителем в органе кадастрового учета</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox3" type="xs:string"  >
          <xs:annotation>
            <xs:documentation>в каком органе кадастрового учета</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox17"  >
          <xs:annotation>
            <xs:documentation>Способ получения сведений государственного кадастра недвижимости Почтовым отправлением по адресу:</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox4" type="xs:string" >
          <xs:annotation>
            <xs:documentation>адрес</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox18"  >
          <xs:annotation>
            <xs:documentation>Способ получения сведений государственного кадастра недвижимости По адресу электронной почты:</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox5" type="xs:string" >
          <xs:annotation>
            <xs:documentation>адрес электронной почты</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox19" >
          <xs:annotation>
            <xs:documentation>
              Способ получения сведений государственного кадастра недвижимости В персональном разделе заявителя на официальном сайте:</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox6" type="xs:string" >
          <xs:annotation>
            <xs:documentation>Заявитель Фамилия, Имя, Отчество</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox7" type="xs:string" >
          <xs:annotation>
            <xs:documentation>Представитель заявителя Фамилия, Имя, Отчество</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox8" type="xs:string" >
          <xs:annotation>
            <xs:documentation>телефон</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox9" type="xs:string" >
          <xs:annotation>
            <xs:documentation>почтовый адрес</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox10" type="xs:string" >
          <xs:annotation>
            <xs:documentation>адрес электронной почты</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox14" >
          <xs:annotation>
            <xs:documentation>Документ, подтверждающий внесение платы за предоставление сведений из ГКН (на   л.) или его электронный образ, в случае представления запроса в электронной форме</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox11" type="xs:string" >
          <xs:annotation>
            <xs:documentation>количество листов</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_CheckBox15" >
          <xs:annotation>
            <xs:documentation>Документ, подтверждающий полномочия заявителя</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:unsignedByte">
              <xs:enumeration value="0">
              </xs:enumeration>
              <xs:enumeration value="1">
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox13" type="xs:string" >
          <xs:annotation>
            <xs:documentation>Фамилия, Имя, Отчество подписавшего</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox14" >
          <xs:annotation>
            <xs:documentation>День даты</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox16" >
          <xs:annotation>
            <xs:documentation>Месяц даты</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:minLength value="3" />
              <xs:maxLength value="8" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="Appl_GKNInfo_TextBox15" >
          <xs:annotation>
            <xs:documentation>Год даты</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="2" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>