ejbs/src/main/resources/schemas/rosreestr_request_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://rl-labs.aspz.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://rl-labs.aspz.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://rl-labs.aspz.org/">
      <s:element name="putOrderRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdOrder" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="IdService" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EDS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="putOrderRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="putOrderRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="putOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IdOrder" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="putOrderResponseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="putOrderResponseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="putOrderRequestSoapIn">
    <wsdl:part name="parameters" element="tns:putOrderRequest" />
  </wsdl:message>
  <wsdl:message name="putOrderRequestSoapOut">
    <wsdl:part name="parameters" element="tns:putOrderRequestResponse" />
  </wsdl:message>
  <wsdl:message name="putOrderResponseSoapIn">
    <wsdl:part name="parameters" element="tns:putOrderResponse" />
  </wsdl:message>
  <wsdl:message name="putOrderResponseSoapOut">
    <wsdl:part name="parameters" element="tns:putOrderResponseResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="putOrderRequest">
      <wsdl:input message="tns:putOrderRequestSoapIn" />
      <wsdl:output message="tns:putOrderRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="putOrderResponse">
      <wsdl:input message="tns:putOrderResponseSoapIn" />
      <wsdl:output message="tns:putOrderResponseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="putOrderRequest">
      <soap:operation soapAction="http://rl-labs.aspz.org/putOrderRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putOrderResponse">
      <soap:operation soapAction="http://rl-labs.aspz.org/putOrderResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="putOrderRequest">
      <soap12:operation soapAction="http://rl-labs.aspz.org/putOrderRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="putOrderResponse">
      <soap12:operation soapAction="http://rl-labs.aspz.org/putOrderResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://213.171.45.237:8081/RosReestrInfoSys_Service/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://213.171.45.237:8081/RosReestrInfoSys_Service/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>