ejbs/src/main/resources/schemas/opendata/ratings.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ratingsListXML">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="periodBegin"/>
                <xs:element type="xs:string" name="periodEnd"/>
                <xs:element type="xs:byte" name="queryCount"/>
                <xs:element name="ratings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="rating" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="version"/>
                                        <xs:element type="xs:string" name="question"/>
                                        <xs:element name="answers" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element type="xs:byte" name="sum"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>